<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>328820955486-4krdcso1v233ktugu1p0jn3lpv80prm3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.328820955486-4krdcso1v233ktugu1p0jn3lpv80prm3</string>
	<key>API_KEY</key>
	<string>AIzaSyBXx4a4lgSAN6_ifFjoie0d3nOlSMx9c90</string>
	<key>GCM_SENDER_ID</key>
	<string>328820955486</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.donkuruppu.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-b9289</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-b9289.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:328820955486:ios:31fcfc1278548212</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-b9289.firebaseio.com</string>
</dict>
</plist>